#profilePic {
    width: 100%;
    height: auto;
    padding: 20px 20px 10px 20px;
}

#nameTag {
    width: 100%;
    text-align: center;
}

#picDiv {
    width: 20%;
    display: inline-block;
}

#aboutDiv {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0px 0px 0px 40px;

}

h2 {
    text-decoration: underline;
    padding: 10px 0px 0px 0px;
  }

h1 {
    text-align: center;
}

body{
    background: ivory;
}

.row3 div
{
    width: 33%;
    display: inline-block;
}


